<div class="container" style="margin-top:10%;margin-bottom:5%;">  
    
    <div class="row">
      <div class="col-sm-4">
        <img src="{{products}}">
        <p><span>Iphone Black</span></p>
        <h5>AED 1000</h5>
      </div>
      <div class="col-sm-4">
          <img src="{{products}}">
          <p><span>Iphone Black</span></p>
          <h5>AED 1000</h5>
      </div>
      <div class="col-sm-4">
          <img src="{{products}}">
          <p><span>Iphone Black</span></p>
          <h5>AED 1000</h5>
        </div>
    </div>
  </div>