<div class="container">
    <div class="jumbotron"  style="text-align:center">
        <h1>Welcome Careefour</h1> 
        <a class="btn btn-success"  routerLink="/">Logout</a>
    </div>
  
  <br>
  <div class="row">
      
                          <div class="col-sm-4 col-lg-4 col-md-4">
                              <div class="thumbnail">
                                  <img  src="{{products}}"  alt="">
                                  <div class="caption">
                                      <h4 class="pull-right">$24.99</h4>
                                      <h4><a href="compare.html">First Product</a>
                                      </h4>
                                      <p>See more snippets like this online store item at </p>
                                  </div>
                                  <div class="ratings">
                                      <p class="pull-right">15 reviews</p>
                                      <p>
                                          <span class="glyphicon glyphicon-star"></span>
                                          <span class="glyphicon glyphicon-star"></span>
                                          <span class="glyphicon glyphicon-star"></span>
                                          <span class="glyphicon glyphicon-star"></span>
                                          <span class="glyphicon glyphicon-star"></span>
                                      </p>
                                  </div>
                              </div>
                          </div>
      
                     
                         
                          <div class="col-sm-4 col-lg-4 col-md-4">
                              <div class="thumbnail">
                                  <img  src="{{products}}"  alt="">
                                  <div class="caption">
                                      <h4 class="pull-right">$94.99</h4>
                                      <h4><a href="#">Fifth Product</a>
                                      </h4>
                                      <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                  </div>
                                  <div class="ratings">
                                      <p class="pull-right">18 reviews</p>
                                      <p>
                                          <span class="glyphicon glyphicon-star"></span>
                                          <span class="glyphicon glyphicon-star"></span>
                                          <span class="glyphicon glyphicon-star"></span>
                                          <span class="glyphicon glyphicon-star"></span>
                                          <span class="glyphicon glyphicon-star-empty"></span>
                                      </p>
                                  </div>
                              </div>
                          </div>
      
      
                          <div class="col-sm-4 col-lg-4 col-md-4">
                              <div class="thumbnail">
                                  <img src="{{products}}" alt="">
                                  <div class="caption">
                                      <h4 class="pull-right">$94.99</h4>
                                      <h4><a href="#">Fifth Product</a>
                                      </h4>
                                      <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                  </div>
                                  <div class="ratings">
                                      <p class="pull-right">18 reviews</p>
                                      <p>
                                          <span class="glyphicon glyphicon-star"></span>
                                          <span class="glyphicon glyphicon-star"></span>
                                          <span class="glyphicon glyphicon-star"></span>
                                          <span class="glyphicon glyphicon-star"></span>
                                          <span class="glyphicon glyphicon-star-empty"></span>
                                      </p>
                                  </div>
                              </div>
                          </div>
      
                      </div>
                    </div>
